FPS_BROKER_PORT=80
FPS_UNITY_PROJECT_ID=b6617d98-ada5-426f-9442-54a068dd1621
FPS_PUBLIC_HOST=43.128.141.28
FPS_SERVER_PORT=17777
FPS_APPLICATION_VERSION=0.1.0
FPS_PROTOCOL_VERSION=1
FPS_CONTENT_VERSION=citynew-v1
FPS_IDLE_TIMEOUT=120
