FPS_BROKER_PORT=80
FPS_BROKER_CERT=/srv/fps/data/tls/broker-cert.pem
FPS_BROKER_KEY=/srv/fps/data/tls/broker-key.pem
FPS_PUBLIC_HOST=game.example.com
FPS_SERVER_PORT=17777
FPS_CONTROL_DATABASE=/srv/fps/data/fps-control.sqlite3
FPS_APPLICATION_VERSION=0.1.0
FPS_PROTOCOL_VERSION=1
FPS_CONTENT_VERSION=citynew-v1
FPS_IDLE_TIMEOUT=120
